$font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-size-base: 16px !default;
$line-height-base: 1.5 !default;
$color-primary: #fff !default;

$header-text-color: #333 !default;